services:
  ingress:
    image: shalmaka/nginx-ingress
    restart: unless-stopped
    env_file: .env
    depends_on:
      web:
        condition: service_healthy

    read_only: true
    tmpfs:
      - /tmp:uid=101,gid=101,mode=1777
      - /var/run:uid=101,gid=101,mode=0755
      - /var/cache/nginx:uid=101,gid=101,mode=0755
      - /etc/nginx/conf.d:uid=101,gid=101,mode=0755
      - /var/log/nginx:uid=101,gid=101,mode=0755

    # volumes:
    #   - ./certs:/www/certs:ro

    networks:
      ${MACVLAN_NAME}:
        ipv4_address: ${EXTERNAL_IP}  # IP address for macvlan network
      internal: {}  # Internal communication between containers
    
    security_opt:
      - no-new-privileges:true
    cap_drop:
      - ALL
    cap_add:
      - NET_BIND_SERVICE